.header_third {
    display: flex;
    background: #FFFFFF;
    width: 1440px;
    height: 48px;
    top: 100px;
    justify-content: space-around;
}

.header_third a {
    text-decoration: none;
}

.searcher {
    display: flex;
    width: 499px;
    height: 32px;
    left: 471px;
    background-color: #F2F2F2;
    margin: 0;
}
.searchForm {
    display: flex;
}

.searchForm svg {
    display: flex;
    width: 12px;
    height: 12px;
    top: 50%;
    left: 10px;
}

.searchForm i {
    color: #C0C0C0;
}
