section > *:nth-child(2n) {
    background-color: #F9F9F9;
}

.box_with_users {
    width: 1360px;
    height: 414px;
    background-color: yellow;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5B5B5B;
    position: absolute;
    bottom: 0;
    grid-column-gap: 6px;
    margin-left: 160px;
}
