.header_third {
    display: flex;
    background: #FFFFFF;
    width: 1440px;
    height: 48px;
    top: 100px;
    justify-content: space-around;
}

.searcher {
    display: flex;
    width: 499px;
    height: 32px;
    left: 471px;
    background-color: #F2F2F2;
    margin: 0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    grid-column-gap: 30px;
    width: 100%;
}

.form {
    width: 4px;
    height: 4px;
}
