tbody > *:nth-child(2n) {
    background-color: #F9F9F9;
    width: 1360px;
    height: 48px;
}

.user {
    display: flex;
    width: 1360px;
    height: 48px;
    left: 50px;
    align-items: center;
    justify-content: flex-start;
}

.oneUser {
    display: flex;
    height: 48px;
    align-items: center;
    justify-content: space-around;
}

.box_with_users {
    width: 1360px;
    height: 414px;
    background-color: #FFFFFF;
    display: flex;
    flex-flow: column;
}

.headerOfTable {
    display: flex;
    /*border-spacing: 1px;*/
    width: 100%;
    justify-content: space-between;
}
