.user {
    display: flex;
    width: 1360px;
    height: 48px;
    background-color: #FFFFFF;
    left: 50px;
    align-items: center;
    justify-content: initial;
}

.oneUser {
    display: flex;
    grid-column-gap: 60px;
}
