tbody > *:nth-child(2n) {
    background-color: #F9F9F9;
    width: 100%;
}

.user {
    display: flex;
    width: 1360px;
    height: 48px;
    left: 50px;
    align-items: center;
    justify-content: flex-start;
}

.box_with_users {
    width: 1360px;
    height: 414px;
    background-color: #FFFFFF;
    display: block;
    flex-flow: column;
}

.oneUser {
    display: flex;
    height: 48px;
    align-items: center;
}

tr { display: block; float: left; grid-column-gap: 70px; width: 100%}
th, td { display: block; }

.headerOfTable {
    display: flex;
    width: 100%;
    margin-left: 1px;
}

.tableBody {
    box-shadow: 0.5px 0.5px 3px 3px #f5f5f5;
}

.hide {
    display: none;
}
.block {
    display: block;
}

.userName {
    width: 190px;
}

.anotherDetails {
    display: flex;
    margin-left: 230px;
}

.thId {
    margin-left: 300px;
}

.thScore {
    position: relative;
    float: right;
    display: flex;
}

table tr:hover {
    color: blue;
    cursor: pointer;
}
