.header_second {
    background: #5B5B5B;
    width: 1440px;
    height: 40px;
    box-sizing: border-box;
    grid-column-gap: 24px;
    justify-content: center;
}

.header_second a {
    text-decoration: none;
}

.menu_item {
    color: #C0C0C0;
}
